@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(180px);
    // background: #ccc;
    .top {
        width: 100%;
        height: pxTorem(90px);
        @include box_flex;
        @include justify;
        @include align;
        border-bottom: 1px solid #ccc;
        input {
            width: 80%;
            height: pxTorem(40px);
        }
    }
    .center {
        width: 100%;
        height: pxTorem(90px);
        // background: pink;
        h6 {
            font-size: pxTorem(30px);
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: pxTorem(90px);
        }
    }
}

section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .boxAll {
        width: 100%;
        height: 100%;
        overflow: hidden;
        div {
            width: 100%;
            position: relative;
            // #list {
            //     width: 100%;
            //     @include box_flex;
            //     @include flexWrap;
            //     li {
            //         width: 50%;
            //         height: pxTorem(120px);
            //         // background: pink;
            //         @include box_flex;
            //         @include direction(column);
            //         @include align;
            //         @include justify;
            //         img {
            //             width: 80%;
            //             height: pxTorem(50px);
            //             h6 {
            //                 font-size: pxTorem(16px);
            //             }
            //             .word {
            //                 width: 100%;
            //                 font-size: pxTorem(14px);
            //                 span {
            //                     margin-left: pxTorem(30px);
            //                     @include sizing;
            //                     display: inline-block;
            //                 }
            //             }
            //         }
            //     }
            // }
            .dataAll {
                width: 100%;
                @include box_flex;
                .HBox {
                    width: 100%;
                    // height: pxTorem(280px);
                    @include box_flex;
                    @include direction(column);
                    @include align;
                    @include justify;
                    border: 1px solid #ccc;
                    margin-top: pxTorem(10px);
                    @include flex_shrink(0);
                    @include sizing;
                    img {
                        width: 80%;
                        height: pxTorem(100px);
                        h6 {
                            font-size: pxTorem(22px);
                        }
                        .word {
                            width: 100%;
                            font-size: pxTorem(20px);
                            span {
                                margin-left: pxTorem(30px);
                                @include sizing;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            #pullUp {
                width: 100%;
                height: pxTorem(40px);
                background: #ccc;
                text-align: center;
                line-height: pxTorem(40px);
                position: absolute;
                bottom: pxTorem(-40px);
                left: 0;
            }
        }
    }
}